<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="tempalte"></div>
    <% for (var key in htmlWebpackPlugin.files) { %>
        <% if (key == 'chunks') { %>
            <% var item = htmlWebpackPlugin.files[key] %>
            <% for (var chunk in item) { %>
                <%= chunk%> : <%= item[chunk]%>
                <br/>
            <% } %>
        <% } else {%>
            <%= key%>: <%= htmlWebpackPlugin.files[key] %>
        <% } %>
        <br/>
    <% } %>
</body>
</html>